pip>=24.1
setuptools>=70.1.0
wheel>=0.43.0
numpy>=2.0.0
matplotlib>=3.9.0
contourpy>=1.2.1
cycler>=0.12.1
fonttools>=4.53.0
kiwisolver>=1.4.5
packaging>=24.1
pillow>=10.3.0
pyparsing>=3.1.2
python-dateutil>=2.9.0.post0
six>=1.16.0
scipy>=1.14.0rc2
pyvisa>=1.14.1
typing-extensions>=4.12.2
visa>=1.0.0
certifi>=2024.6.2
charset-normalizer>=3.3.2
idna>=3.7
requests>=2.32.3
urllib3>=2.2.2
deprecation>=2.1.0
pandas>=2.2.2
pytz>=2024.1
tzdata>=2024.1
pandastable>=0.13.1
future>=1.0.0
numexpr>=2.10.1
xlrd>=2.0.1
easygui>=0.98.3
colorzero>=2.0
gpiozero>=2.0.1
pigpio>=1.78
pyvisa-py>=0.7.2
qcodes>=0.47.0
asttokens>=2.4.1
attrs>=24.2.0
broadbean>=0.14.0
cf-xarray>=0.9.4
click>=8.1.7
cloudpickle>=3.0.0
colorama>=0.4.6
comm>=0.2.2
dask>=2024.8.2
debugpy>=1.8.5
decorator>=5.1.1
deprecated>=1.2.14
executing>=2.1.0
fsspec>=2024.9.0
h5netcdf>=1.3.0
h5py>=3.11.0
importlib-metadata>=8.4.0
ipykernel>=6.29.5
ipython>=8.27.0
ipywidgets>=8.1.5
jedi>=0.19.1
jsonschema>=4.23.0
jsonschema-specifications>=2023.12.1
jupyter-client>=8.6.2
jupyter-core>=5.7.2
jupyterlab-widgets>=3.0.13
locket>=1.0.0
matplotlib-inline>=0.1.7
nest-asyncio>=1.6.0
opentelemetry-api>=1.27.0
parso>=0.8.4
partd>=1.4.2
platformdirs>=4.3.1
prompt-toolkit>=3.0.47
psutil>=6.0.0
pure-eval>=0.2.3
pyarrow>=17.0.0
pygments>=2.18.0
pywin32>=306
pyyaml>=6.0.2
pyzmq>=26.2.0
referencing>=0.35.1
rpds-py>=0.20.0
ruamel.yaml>=0.18.6
ruamel.yaml.clib>=0.2.8
schema>=0.7.7
stack-data>=0.6.3
tabulate>=0.9.0
toolz>=0.12.1
tornado>=6.4.1
tqdm>=4.66.5
traitlets>=5.14.3
uncertainties>=3.2.2
versioningit>=3.1.2
wcwidth>=0.2.13
websockets>=13.0.1
widgetsnbextension>=4.0.13
wrapt>=1.16.0
xarray>=2024.7.0
zipp>=3.20.1